.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../images/loginBackgroundImage.png");
  background-size: cover;
  align-items: center;
}

.loginTitle {
  font-size: 50px;
  display: flex;
  flex-direction: column;
}

.loginForm {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.passwordInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.loginButton {
  margin-top: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.loginButton:disabled{
  cursor: not-allowed;
  background-color: coral;
}

.loginRegisterButton {
  position: absolute;
  border: none;
  padding: 10px;
  border-radius: 10px;
  top: 60px;
  right: 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
}
